@charset "utf-8";
@import "reset";

#box {
    width:200px;
    height:200px;
    margin:50px;
    background :hotpink;
    transition:.5s;

    &:hover {
        transform:rotate(360deg) scale(2);
    }
}